@use 'functions/spacing' as *;
@use 'variables/spacing-shape' as *;
@use 'mixins/flex' as *;

.home {
    padding-top: space(6);
    padding-bottom: space(6);
    gap: space(16);
    @include flex(flex-start, stretch, column);

    @media only screen and (min-width: $medium-breakpoint) {
        padding-top: space(16);
        padding-bottom: space(16);
    }
}