@use 'functions/spacing' as *;
@use 'mixins/flex' as *;
@use 'mixins/typography' as *;

.subscription-card {
    height: 100%;
    padding: space(4);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    gap: space(4);
    border: var(--border-tonic);
    transition: transform var(--default-transition-duration) ease-in-out;
    @include flex(flex-start, stretch, column);

    &:hover {
        background: var(--background-card);
        transform: translateY(space(-1));
    }

    &.subscription-card--free {
        border: var(--border-grey);
    }

    .subscription-card__header {
        @include flex(space-between, center);

        .subscription-card__header-title {
            @include typography(little-title);
        }

        .subscription-card__header-information {
            @include typography(paragraph);
            padding: space(1);
            border-radius: var(--border-radius);
            background-color: var(--tonic);
            color: var(--text-light);
        }
    }

    .subscription-card__price {
        @include typography(title);
    }

    .subscription-card__comment {
        @include typography(paragraph);
    }

    .subscription-card__features {
        flex: 1;
        gap: space(2);
        @include flex(flex-start, stretch, column);

        .subscription-card__feature {
            gap: space(2);
            padding: space(2) 0;
            border-bottom: var(--border-grey);
            @include typography(paragraph);
            @include flex(flex-start, center);
        }
    }
}
