@use 'functions/spacing' as *;
@use 'mixins/flex' as *;
@use 'mixins/typography' as *;

.contact {
    padding-top: space(10);
    padding-bottom: space(10);
    gap: space(10);
    @include flex(flex-start, center, column);

    .contact__header {
        text-align: center;
        max-width: 600px;
        gap: space(4);
        @include flex(flex-start, center, column);

        .contact__description {
            @include typography(paragraph);
        }
    }

    .contact__form {
        width: 100%;
        max-width: 800px; 
    }
}