@use 'functions/spacing' as *;
@use 'mixins/typography' as *;
@use 'variables/sizes' as *;

.button {
    width: 100%;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: space(1) space(2);
    outline: none;
    height: $button-height;
    transition: background-color .3s;
    @include typography(button);

    &.primary {
        background-color: var(--tonic);

        &:hover {
            background-color: var(--background-tonic-dark);
        }
    }

    &.secondary {
        color: var(--tonic);
        border: var(--border-tonic);

        &:hover {
            background-color: var(--background-tonic-light);
        }
    }
}