@use 'functions/spacing' as *;
@use 'mixins/flex' as *;
@use 'mixins/typography' as *;
@use 'variables/spacing-shape' as *;

.subscriptions {
    gap: space(10);
    @include flex(flex-start, center, column);

    &__header {
        text-align: center;
        max-width: 600px;

        .title {
            @include typography(text-gradient);
        }
    }

    &__description {
        margin-top: space(4);
        @include typography(paragraph);
    }

    .subscriptions__cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: space(4);

        @media only screen and (min-width: $medium-breakpoint) {
            grid-template-columns: repeat(2, 1fr);

            > *:last-child:nth-child(odd) {
                grid-column: 1 / -1;
                justify-self: center;
                width: calc(50% - space(2));
            }
        }

        @media only screen and (min-width: $large-breakpoint) {
            grid-template-columns: repeat(3, 1fr);

            > *:last-child:nth-child(odd) {
                grid-column: auto;
                justify-self: auto;
                width: 100%;
            }
        }
    }
}