@use 'mixins/flex' as *;
@use 'mixins/typography' as *;
@use 'functions/spacing' as *;

.feature-card {
    height: 100%;
    gap: space(4);
    padding: space(4);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: transform var(--default-transition-duration) ease-in-out;
    @include flex(flex-start, flex-start, column);

    &:hover {
        background: var(--background-card);
        transform: translateY(space(-1));
    }

    .feature-card__icon {
        padding: space(2);
        border-radius: var(--border-radius);
        background-color: var(--background-tonic);
        @include flex(center, center);
    }

    .feature-card__title {
        @include typography(little-title);
    }

    .feature-card__description {
        @include typography(paragraph);
    }
}
