@use 'mixins/typography' as *;
@use 'mixins/flex' as *;
@use 'functions/spacing' as *;

.title {
    gap: space(2);
    text-align: center;
    @include flex(flex-start, center, column);
    @include typography(title);

    .title__eyebrow {
        gap: space(1);
        @include flex(flex-start, center);
        @include typography(paragraph);
    }
}