@use 'mixins/typography' as *;
@use 'functions/spacing' as *;

.title {
    @include typography(title);
    transform: translateY(space(3));
    transition: transform var(--animated-reveal-duration);

    &--visible {
        transform: translateY(0);
    }

    .title__word {
        opacity: 0;
        filter: blur(12px);
        will-change: opacity, filter;

        &--visible {
            animation: word-reveal var(--animated-reveal-duration) forwards;
        }
    }
}

@keyframes word-reveal {
    from {
        opacity: 0;
        filter: blur(12px);
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}