@use 'functions/spacing' as *;

.animated-reveal {
    opacity: 0;
    filter: var(--filter);
    transform: translateY(space(3));
    transition-property: opacity, filter, transform;
    transition-timing-function: ease-out;
    transition-duration: var(--default-transition-duration);
    will-change: opacity, filter, transform;

    &.animated-reveal--visible {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
