@use 'functions/spacing' as *;
@use 'mixins/typography' as *;
@use 'mixins/flex' as *;
@use 'variables/spacing-shape' as *;

.hero-stats {
    width: 100%;
    padding: space(2);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    @include flex(flex-start, center);

    .hero-stats_items {
        flex: 1;
        gap: space(1);
        padding: 0 space(2);
        position: relative;
        text-align: center;
        @include flex(flex-start, stretch, column);

        @media only screen and (min-width: $medium-breakpoint) {
            text-align: left;
            padding: 0 space(4);
        }

        &:not(:first-child)::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 70%;
            background-color: var(--grey);
        }

        .counter-animation {
            @include typography(counter);
        }

        .hero-stats_item-label {
            @include typography(paragraph);
        }
    }
}