@use 'functions/spacing' as *;
@use 'mixins/flex' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    padding-top: space(2);

    .header__content {
        gap: space(2);
        padding: space(2) space(4);
        backdrop-filter: var(--backdrop-filter);
        border-radius: var(--border-radius-rounded);
        box-shadow: var(--header-box-shadow);
        @include flex(flex-start, center);
    }
}