@use 'functions/spacing' as *;
@use 'mixins/flex' as *;

.header {
    @include flex(flex-start, center);
    gap: space(2);
    padding-top: space(2);
    padding-bottom: space(2);
    background-color: var(--background);
    box-shadow: var(--header-box-shadow);
}