@use 'functions/spacing' as *;

.header {
    display: flex;
    align-items: center;
    gap: space(2);
    padding-top: space(2);
    padding-bottom: space(2);
    background-color: var(--background);
    box-shadow: var(--header-box-shadow);
}