@use 'functions/spacing' as *;
@use 'mixins/typography' as *;
@use 'mixins/flex' as *;
@use 'variables/spacing-shape' as *;

.hero-section {
    gap: space(4);
    @include flex(flex-start, center, column);

    @media only screen and (min-width: $medium-breakpoint) {
        gap: space(10);
    }

    .animated-title {
        max-width: 700px;
        text-align: center;
    }

    .hero-section__content {
        gap: space(6);
        @include flex(flex-start, center, column);

        @media only screen and (min-width: $medium-breakpoint) {
            gap: space(8);
        }

        .hero-section__content-actions,
        .hero-section__content-subscription,
        .hero-section__content-descriptions {
            max-width: 700px;
            text-align: center;
        }

        .hero-section__content-subscription,
        .hero-section__content-descriptions {
            @include typography(paragraph);
        }

        .hero-section__content-actions {
            width: 100%;
            gap: space(2);
            flex-wrap: wrap;
            @include flex();

            .button {
                flex: 1 1 260px;
            }
        }

        .hero-section__dashboard-preview {
            border-radius: var(--border-radius);
            background: var(--background-image-linear);
        }
    }
}