@use 'functions/spacing' as *;
@use 'mixins/form' as *;
@use 'mixins/typography' as *;
@use 'mixins/flex' as *;

.base-select {
    border-radius: var(--border-radius);
    background-color: var(--background-grey);

    .base-select__button {
        width: 100%;
        position: relative;
        padding: space(2);
        gap: space(1);
        border-radius: var(--border-radius);
        @include flex(space-between, center);

        input {
            position: absolute;
            opacity: 0;
            z-index: -1;
            width: 0;
        }

        .current-value {
            flex: 1;
            text-align: left;
            color: var(--text-color);
            @include form(select-current);
        }

        .base-select__arrow {
            transition: transform var(--default-transition-duration) ease;
        }

        &.base-select__button--open {
            box-shadow: var(--box-shadow-tonic);

            .base-select__arrow {
                transform: rotate(-180deg);
            }
        }
    }

    .base-select__items {
        z-index: 200;
        background: var(--background);
        position: absolute;
        top: 100%;
        width: 100%;
        overflow-y: scroll;
        max-height: 200px;
        box-shadow: var(--box-shadow);

        .base-select__item button {
            width: 100%;
            text-align: left;
            font-size: 18px;
            padding: space(2);
            cursor: pointer;
            transition: all ease .3s;
            border-bottom: var(--border-grey);
            @include typography(paragraph);
        }

        .base-select__item.base-select__item--pre-select button,
        .base-select__item button:hover {
            background: var(--background);
        }
    }
}