*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:not(.ready) *,
html:not(.ready) *::before,
html:not(.ready) *::after {
  transition: none !important;
}

body {
    background-color: var(--background);
    user-select: none;
    outline: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
}