@use 'mixins/flex' as *;
@use 'functions/spacing' as *;
@use 'variables/spacing-shape' as *;

.App {
    min-height: 100vh;
    @include flex(space-between, stretch, column);

    @media only screen and (min-width: $large-breakpoint) {
        @include flex(flex-start, stretch, column);
    }
}

.icon {
    @include flex();

    svg { 
        width: 100%; 
    }
}

.container {
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
}