@use 'mixins/flex' as *;
@use 'functions/spacing' as *;
@use 'variables/spacing-shape' as *;

.icon {
    @include flex();
}

img {
    min-width: 0;
    width: 100%;
}

.container {
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
}