html {
    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: var(--background-grey);
    padding: 1px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--tonic);
    border-radius: 4px;
}