@use 'functions/spacing' as *;
@use 'mixins/form' as *;
@use 'variables/form' as *;

.input-field {
    width: 100%;

    &.#{$field-error} {
        .input-field__wrapper {
            border: 1px solid var(--error);
        }
    }

    .input-field__wrapper {
        display: flex;
        align-items: center;
        gap: space(1);
        border-radius: var(--border-radius);
        background-color: var(--background-grey);
        padding: space(1.5) space(2);
        position: relative;
        border: 1px solid transparent;
        transition: border-color 0.2s ease;

        &:focus-within {
            box-shadow: var(--box-shadow-tonic);
        }

        input {
            width: 100%;
            background-color: var(--background-grey);
            color: var(--text-color);
            @include form(input-text);

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                -webkit-box-shadow: 0 0 0 1000px var(--background-grey) inset !important;
                -webkit-text-fill-color: var(--text-color) !important;
                caret-color: var(--text-color);
            }

            &:disabled {
                cursor: not-allowed;
                opacity: 0.6;
            }
        }

        .icon svg {
            transition: opacity 0.2s ease;
        }

        input:disabled ~ svg,
        input:disabled + svg {
            opacity: 0.4;
        }
    }

    .error-message {
        margin-top: space(1);
    }
}