@use 'functions/spacing' as *;
@use 'mixins/typography' as *;
@use 'mixins/flex' as *;
@use 'variables/typography' as *;
@use 'variables/spacing-shape' as *;

.header-navigation-layout {
    flex: 1;
    gap: space(2);
    @include flex();

    .header-navigation-layout__logo {
        @include flex();
        width: 100px;

        @media only screen and (min-width: $small-breakpoint) {
            width: 150px;
        }
    }

    .header-navigation-layout__items {
        flex: 1;
        gap: space(2);
        @include flex(center, center);

        .header-navigation-layout__item {
            padding: space(1) space(2);
            transition: color .2s ease-in-out;
            position: relative;
            @include typography(link);
            @include flex();

            &.active {
                background-color: var(--background-tonic-light);
                border-radius: var(--border-radius);
                color: var(--tonic);
                transition: none;
            }

            &:hover:not(.active) {
                color: var(--text-dark);
            }
        }
    }
}