@use 'functions/spacing' as *;
@use 'mixins/typography' as *;
@use 'variables/typography' as *;

.header-navigation-layout {
    width: 100%;
    display: flex;
    gap: space(2);

    .header-navigation-layout__logo {
        display: flex;
        width: 150px;
    }

    .header-navigation-layout__items {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: space(2);

        .header-navigation-layout__item {
            display: flex;
            @include typography(link);
            padding: space(1) space(2);
            transition: color .2s ease-in-out;
            position: relative;

            &.active {
                background-color: var(--background-tonic);
                border-radius: var(--border-radius);
                color: var(--tonic);
                transition: none;
            }

            &:hover:not(.active) {
                color: var(--text-dark);
            }
        }
    }
}