@use 'mixins/flex' as *;
@use 'mixins/typography' as *;
@use 'functions/spacing' as *;
@use 'variables/spacing-shape' as *;

.features {
    gap: space(10);
    @include flex(flex-start, center, column);

    &__header {
        text-align: center;
        max-width: 700px;

        .title {
            @include typography(text-gradient);
        }
    }

    &__description {
        margin-top: space(4);
        @include typography(paragraph);
    }

    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: space(4);

        @media only screen and (min-width: $medium-breakpoint) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: $large-breakpoint) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
