@use 'functions/spacing' as *;
@use 'mixins/typography' as *;
@use 'mixins/flex' as *;
@use 'variables/spacing-shape' as *;

.hero-section {
    background-color: var(--background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: space(2);
    gap: space(4);
    @include flex(flex-start, stretch, column);

    @media only screen and (min-width: $medium-breakpoint) {
        padding: space(8);
        @include flex();
    }

    .hero-section__dashboard-preview {
        flex: 3;
        align-self: center;
        object-fit: cover;
        min-width: 250px;
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
    }

    .hero-section__content {
        flex: 4;
        gap: space(4);
        @include flex(flex-start, stretch, column);

        .hero-section__content-subscrtiption,
        .hero-section__content-descriptions {
            @include typography(paragraph);
        }

        .hero-section__content-actions {
            gap: space(2);
            @include flex(space-beetwen, stretch, column);

            @media only screen and (min-width: $medium-breakpoint) {
                @include flex(space-beetwen);
            }
        }
    }
}